*{
  font-family: 'Sriracha', cursive;
}

body{
   padding: 50px 100px;
}

h1{
  text-align: center;
  background-color: #0067b0;
  color: white;
  padding: 10px;
  margin: 0px;
}

textarea{
  width: 99.3%;
  border-color: #0067b0;
  font-size: 15px;
}

p{
  text-align: center;
  background-color: #0067b0;
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin: 0;
}

.footer{ 
  position: fixed;     
  text-align: center;    
  bottom: 0px; 
  width: 100%;
}

.footer >a {
  padding-right: 220px;
  text-decoration: none;
}